<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imop.admin.cimol">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IMOP-Admin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginAct"
            android:label="IMOP-Admin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TentangActivity"
            android:label="Tentang IMOP"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>
        <activity
            android:name=".DetailAct"
            android:label="Detail Pemesanan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>
        <activity
            android:name=".UploadActivity"
            android:label="Upload Item"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>
        <activity
            android:name=".EditBarangActivity"
            android:label="Edit Barang"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="Kategori"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>
        <activity
            android:name=".TransAdminAct"
            android:label="Daftar Pesanan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="IMOP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListCariAct"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT_searchable" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:value=".ListCariAct" />
        </activity>
        <activity
            android:name=".BarangPerKategori"
            android:label="Barang"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>
        <activity
            android:name=".EditOwnerActivity"
            android:label="Registrasi Pemilik"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imop.admin.cimol.MainActivity" />
        </activity>

        <!-- [START firebase_service] -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
     </application>

</manifest>